header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
  min-height: 64px;
  margin: 12px 0px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav {
  padding: 0px 20px;
  display: flex;
}
.navLink {
  display: flex;
  padding: 10px;
  font-size: 25px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.active {
  color: blueviolet;
}
.authNav {
  display: flex;
  gap: 15px;
}
.userMenu {
  display: flex;
}
.logoutButton {
  margin: 10px;

  background-color: rgb(207, 178, 233);
}
