.contactForm {
  border: 2px solid #6c6d7c;
  border-radius: 8px;
  padding: 20px;
  width: 320px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

.contactData {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}
input {
  padding: 10px;
  border: 1px solid #646cff;
  border-radius: 5px;
}
.buttonSub {
  background-color: rgb(133, 109, 240);
}
